In [1]:
# Initial imports.
import pandas as pd
import numpy as np
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Load loans data.
loans_df = pd.read_csv('loans_df.csv')

In [3]:
loans_df.head()

,Unnamed: 0,LoanNumber,DateApproved,BorrowerName,BorrowerAddress,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,...,BusinessType,Gender,Veteran,ForgivenessAmount,ForgivenessDate,category_title,rating,review_count,lat,lon
0,0,7672377005,4/8/2020,SEATTLE FISH COMPANY,6211 E. 42nd Ave.,80216,6/25/2021,Paid in Full,24,2205500.00,...,Corporation,Unanswered,Unanswered,2231230.83,6/11/2021,"Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.915680
1,1,2923648405,2/4/2021,SEATTLE FISH COMPANY,6211 E 42nd Ave,80216,12/24/2021,Paid in Full,60,2000000.00,...,Corporation,Unanswered,Unanswered,2013777.78,10/25/2021,"Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.915680
2,2,1128837305,4/28/2020,INK! COFFEE,2851 Larimer Street,80205,NaN,Exemption 4,24,459382.50,...,Corporation,Male Owned,Non-Veteran,409219.99,12/22/2021,"Coffee & Tea, Sandwiches, Cafes,",3.5,20,39.747706,-104.989788
3,3,2291738605,3/13/2021,SYRUP DOWNTOWN,999 18th St Ste 105,80202,1/7/2022,Paid in Full,60,366411.43,...,Limited Liability Company(LLC),Male Owned,Non-Veteran,369342.72,12/29/2021,"Breakfast & Brunch, American (Traditional), Sa...",4.0,1588,39.748984,-104.991904
4,4,3316908501,2/23/2021,PETE'S KITCHEN,1962 E Colfax Ave,80206,11/6/2021,Paid in Full,60,315565.00,...,Subchapter S Corporation,Female Owned,Non-Veteran,317510.98,10/6/2021,"Greek, American (Traditional), Diners,",4.0,787,39.739781,-104.963662

In [5]:
loans_df.nunique()

Unnamed: 0                49
LoanNumber                49
DateApproved              35
BorrowerName              42
BorrowerAddress           47
BorrowerZip               22
LoanStatusDate            34
LoanStatus                 2
Term                       2
InitialApprovalAmount     49
CurrentApprovalAmount     49
BusinessAgeDescription     2
CD                         2
JobsReported              27
Race                       3
Ethnicity                  2
BusinessType               4
Gender                     2
Veteran                    1
ForgivenessAmount         42
ForgivenessDate           39
category_title            35
rating                     5
review_count              40
lat                       42
lon                       42
dtype: int64

In [6]:
loans_df = loans_df.drop(columns=['Unnamed: 0', 'LoanNumber', 'DateApproved', 'BorrowerName', 'BorrowerAddress', 'lat', 'lon', 'category_title', 'Veteran'])
loans_df.head()

,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,BusinessAgeDescription,CD,JobsReported,Race,Ethnicity,BusinessType,Gender,ForgivenessAmount,ForgivenessDate,rating,review_count
0,80216,6/25/2021,Paid in Full,24,2205500.00,2205500.00,Existing or more than 2 years old,CO-01,181.0,NaN,NaN,Corporation,NaN,2231230.83,6/11/2021,3.0,2
1,80216,12/24/2021,Paid in Full,60,2000000.00,2000000.00,Existing or more than 2 years old,CO-01,160.0,NaN,NaN,Corporation,NaN,2013777.78,10/25/2021,3.0,2
2,80205,NaN,Exemption 4,24,459382.50,459382.50,Existing or more than 2 years old,CO-01,42.0,NaN,Not Hispanic or Latino,Corporation,Male Owned,409219.99,12/22/2021,3.5,20
3,80202,1/7/2022,Paid in Full,60,366411.43,366411.43,Existing or more than 2 years old,CO-01,30.0,White,Not Hispanic or Latino,Limited Liability Company(LLC),Male Owned,369342.72,12/29/2021,4.0,1588
4,80206,11/6/2021,Paid in Full,60,315565.00,315565.00,Existing or more than 2 years old,CO-01,32.0,White,Not Hispanic or Latino,Subchapter S Corporation,Female Owned,317510.98,10/6/2021,4.0,787