In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import files
sba_df_1 = pd.read_csv('public_150k_plus_220403.csv')
sba_df_2 = pd.read_csv('public_up_to_150k_2_220403.csv')

In [3]:
# Filter file 1
sba_df_1 = sba_df_1[(sba_df_1.BorrowerState == 'CO') & (sba_df_1.BorrowerCity == 'DENVER')]

In [4]:
# Filter file 2
sba_df_2 = sba_df_2[(sba_df_2.BorrowerState == 'CO') & (sba_df_2.BorrowerCity == 'DENVER')]

In [5]:
# Combine files 1 and 2
combined_sba = sba_df_1.append(sba_df_2)

In [6]:
combined_sba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33790 entries, 165875 to 842314
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LoanNumber                   33790 non-null  int64
 1   DateApproved                 33790 non-null  object
 2   SBAOfficeCode                33790 non-null  int64
 3   ProcessingMethod             33790 non-null  object
 4   BorrowerName                 33790 non-null  object
 5   BorrowerAddress              33790 non-null  object
 6   BorrowerCity                 33790 non-null  object
 7   BorrowerState                33790 non-null  object
 8   BorrowerZip                  33790 non-null  object
 9   LoanStatusDate               29415 non-null  object
 10  LoanStatus                   33790 non-null  object
 11  Term                         33790 non-null  int64
 12  SBAGuarantyPercentage        33790 non-null  int64
 13  InitialApprovalAmount        33790 non-null  float64
 14  CurrentApprovalAmount        33790 non-null  float64
 15  UndisbursedAmount            33786 non-null  float64
 16  FranchiseName                452 non-null    object
 17  ServicingLenderLocationID    33790 non-null  int64
 18  ServicingLenderName          33790 non-null  object
 19  ServicingLenderAddress       33790 non-null  object
 20  ServicingLenderCity          33790 non-null  object
 21  ServicingLenderState         33790 non-null  object
 22  ServicingLenderZip           33790 non-null  object
 23  RuralUrbanIndicator          33790 non-null  object
 24  HubzoneIndicator             33790 non-null  object
 25  LMIIndicator                 33790 non-null  object
 26  BusinessAgeDescription       33790 non-null  object
 27  ProjectCity                  33790 non-null  object
 28  ProjectCountyName            33790 non-null  object
 29  ProjectState                 33790 non-null  object
 30  ProjectZip                   33790 non-null  object
 31  CD                           33790 non-null  object
 32  JobsReported                 33790 non-null  float64
 33  NAICSCode                    33359 non-null  float64
 34  Race                         33790 non-null  object
 35  Ethnicity                    33790 non-null  object
 36  UTILITIES_PROCEED            8121 non-null   float64
 37  PAYROLL_PROCEED              33744 non-null  float64
 38  MORTGAGE_INTEREST_PROCEED    877 non-null    float64
 39  RENT_PROCEED                 2035 non-null   float64
 40  REFINANCE_EIDL_PROCEED       439 non-null    float64
 41  HEALTH_CARE_PROCEED          797 non-null    float64
 42  DEBT_INTEREST_PROCEED        470 non-null    float64
 43  BusinessType                 33778 non-null  object
 44  OriginatingLenderLocationID  33790 non-null  int64
 45  OriginatingLender            33790 non-null  object
 46  OriginatingLenderCity        33790 non-null  object
 47  OriginatingLenderState       33790 non-null  object
 48  Gender                       33790 non-null  object
 49  Veteran                      33790 non-null  object
 50  NonProfit                    1197 non-null   object
 51  ForgivenessAmount            30129 non-null  float64
 52  ForgivenessDate              30129 non-null  object
dtypes: float64(13), int64(6), object(34)
memory usage: 13.9+ MB

In [7]:
combined_sba.nunique()

LoanNumber                     33790
DateApproved                     235
SBAOfficeCode                      3
ProcessingMethod                   2
BorrowerName                   28784
BorrowerAddress                29038
BorrowerCity                       1
BorrowerState                      1
BorrowerZip                    12791
LoanStatusDate                   326
LoanStatus                         3
Term                              24
SBAGuarantyPercentage              1
InitialApprovalAmount          18566
CurrentApprovalAmount          18566
UndisbursedAmount                  2
FranchiseName                    234
ServicingLenderLocationID        564
ServicingLenderName              549
ServicingLenderAddress           556
ServicingLenderCity              421
ServicingLenderState              49
ServicingLenderZip               562
RuralUrbanIndicator                2
HubzoneIndicator                   2
LMIIndicator                       2
BusinessAgeDescription             5
ProjectCity                       25
ProjectCountyName                 12
ProjectState                       1
ProjectZip                     12816
CD                                 8
JobsReported                     302
NAICSCode                        881
Race                               6
Ethnicity                          3
UTILITIES_PROCEED               1009
PAYROLL_PROCEED                20388
MORTGAGE_INTEREST_PROCEED        489
RENT_PROCEED                    1277
REFINANCE_EIDL_PROCEED            34
HEALTH_CARE_PROCEED              468
DEBT_INTEREST_PROCEED            134
BusinessType                      20
OriginatingLenderLocationID      573
OriginatingLender                558
OriginatingLenderCity            428
OriginatingLenderState            49
Gender                             3
Veteran                            3
NonProfit                          1
ForgivenessAmount              29173
ForgivenessDate                  351
dtype: int64

In [8]:
# Drop unnecessary columns
combined_sba = combined_sba.drop(columns=['SBAOfficeCode', 
                                          'ProcessingMethod', 
                                          'FranchiseName', 
                                          'ServicingLenderLocationID', 
                                          'ServicingLenderName', 
                                          'ServicingLenderAddress', 
                                          'ServicingLenderCity', 
                                          'ServicingLenderState', 
                                          'ServicingLenderZip', 
                                          'HubzoneIndicator', 
                                          'LMIIndicator', 
                                          'NAICSCode', 
                                          'OriginatingLenderLocationID', 
                                          'OriginatingLender', 
                                          'OriginatingLenderCity', 
                                          'OriginatingLenderState', 
                                          'ProjectCity', 
                                          'ProjectCountyName', 
                                          'ProjectState', 
                                          'ProjectZip', 
                                          'UTILITIES_PROCEED', 
                                          'PAYROLL_PROCEED', 
                                          'MORTGAGE_INTEREST_PROCEED', 
                                          'RENT_PROCEED', 
                                          'REFINANCE_EIDL_PROCEED', 
                                          'HEALTH_CARE_PROCEED', 
                                          'DEBT_INTEREST_PROCEED', 
                                          'BorrowerState', 
                                          'BorrowerCity', 
                                          'NonProfit', 
                                          'SBAGuarantyPercentage'])

In [9]:
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(' INC.','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(' INC','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(', INC.','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(', INC','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(' LLC.','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(' LLC','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(', LLC.','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(', LLC','')
combined_sba['BorrowerName'] = combined_sba['BorrowerName'].str.replace(',','')

C:\Users\jamar\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
C:\Users\jamar\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jamar\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
C:\Users\jamar\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [10]:
combined_sba

,LoanNumber,DateApproved,BorrowerName,BorrowerAddress,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,...,BusinessAgeDescription,CD,JobsReported,Race,Ethnicity,BusinessType,Gender,Veteran,ForgivenessAmount,ForgivenessDate
165875,2453537209,4/16/2020,SERVICE SYSTEMS ASSOCIATES,4624 CENTRAL PARK BLVD,80238-2328,7/17/2021,Paid in Full,24,10000000.00,10000000.00,...,Existing or more than 2 years old,CO-01,500.0,Unanswered,Unknown/NotStated,Subchapter S Corporation,Unanswered,Unanswered,10112876.71,6/11/2021
165877,3541737204,4/27/2020,THE WESTERN SUGAR COOPERATIVE,7555 E. HAMPDEN AVE Suite 520,80231-4850,2/11/2021,Paid in Full,24,10000000.00,10000000.00,...,Existing or more than 2 years old,CO-01,500.0,Unanswered,Unknown/NotStated,Corporation,Unanswered,Unanswered,10070833.33,1/15/2021
165879,4483637106,4/13/2020,OMNITRAX HOLDINGS COMBINED,252 CLAYTON ST,80206-4800,NaN,Exemption 4,59,10000000.00,10000000.00,...,Existing or more than 2 years old,CO-01,500.0,Unanswered,Unknown/NotStated,Subchapter S Corporation,Unanswered,Unanswered,NaN,NaN
165881,8013527003,4/8/2020,ALVARADO CONCEPTS,924 W. COLFAX AVE,80204-2042,9/29/2021,Paid in Full,24,10000000.00,10000000.00,...,Existing or more than 2 years old,CO-01,500.0,Unanswered,Unknown/NotStated,Limited Liability Company(LLC),Unanswered,Unanswered,10134246.58,8/13/2021
165882,8578657102,4/15/2020,MAC ACQUISITION,1855 BLAKE ST #200,80202-1288,NaN,Exemption 4,24,10000000.00,10000000.00,...,Existing or more than 2 years old,CO-01,36.0,Unanswered,Unknown/NotStated,Limited Liability Company(LLC),Unanswered,Unanswered,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842294,5255128105,7/18/2020,AREA NETWORK TRANSPORT SERVICE,5200 ARGONNE STREET,80249-8272,NaN,Exemption 4,60,167.00,167.00,...,Existing or more than 2 years old,CO-01,3.0,Unanswered,Unknown/NotStated,Sole Proprietorship,Unanswered,Unanswered,NaN,NaN
842300,1261138400,2/1/2021,SONYA VALADEZ,780,80220,8/13/2021,Paid in Full,60,7985.00,158.00,...,Existing or more than 2 years old,CO-01,1.0,Unanswered,Hispanic or Latino,Self-Employed Individuals,Female Owned,Non-Veteran,158.63,7/28/2021
842304,1636148705,3/27/2021,REBECCA SUAREZ,7020 E Girard Ave Apt 105,80224-2933,NaN,Exemption 4,60,136.88,136.88,...,Existing or more than 2 years old,CO-01,1.0,Unanswered,Unknown/NotStated,Independent Contractors,Unanswered,Unanswered,NaN,NaN
842312,6055548004,6/29/2020,TRANSCEND DENVER,365 South Newport Way,80224-1319,2/11/2022,Paid in Full,60,100.00,100.00,...,Existing or more than 2 years old,CO-01,1.0,Unanswered,Unknown/NotStated,Limited Liability Company(LLC),Unanswered,Unanswered,101.56,1/28/2022
842314,9291597203,4/28/2020,APRIL TEDESCHI,1301 S Ulster St # 215,80231,7/9/2021,Paid in Full,24,90.00,90.00,...,New Business or 2 years or less,CO-01,1.0,Unanswered,Unknown/NotStated,Sole Proprietorship,Unanswered,Unanswered,91.05,6/30/2021

In [11]:
# Load Yelp restaurant data
restaurant_df = pd.read_csv('restaurant_df_raw.csv')

In [12]:
# Change business name to uppercase for continuity between datasets before merging; rename 'name' column before merging
restaurant_df['name'] = restaurant_df['name'].str.upper()
restaurant_df.rename(columns = {'name':'BorrowerName'}, inplace = True)
restaurant_df.head()

,Unnamed: 0,id,BorrowerName,phone,address,category_alias,category_title,rating,review_count,lat,lon
0,0,EjNI-dNAMrYxKgUIkqeqhg,GUARD AND GRACE,1.303294e+10,"1801 California St Denver, CO 80202","steak, wine_bars, seafood,","Steakhouses, Wine Bars, Seafood,",4.5,1355,39.747681,-104.989655
1,1,pnY1m8aBusUCqgD1rUcLyw,PANZANO,1.303296e+10,"909 17th St Denver, CO 80202","italian, bars, breakfast_brunch,","Italian, Bars, Breakfast & Brunch,",4.5,1081,39.747833,-104.992822
2,2,ZDD3sfQRbVFTb6-h7BsCeg,SYRUP DOWNTOWN,1.720709e+10,"999 18th St Ste 105 Denver, CO 80202","breakfast_brunch, tradamerican, salad,","Breakfast & Brunch, American (Traditional), Sa...",4.0,1588,39.748984,-104.991904
3,3,K_lrOq9edOUqRx5ZmuwMZw,ELWAY'S DOWNTOWN,1.303312e+10,"1881 Curtis St Denver, CO 80202","steak, newamerican, seafood,","Steakhouses, American (New), Seafood,",3.5,588,39.749627,-104.991927
4,4,WCzA9u1d4W1FzsQKrAu74g,YAZOO BBQ COMPANY,1.303296e+10,"2150 Broadway Denver, CO 80205","bbq, bars, sandwiches,","Barbeque, Bars, Sandwiches,",4.0,449,39.752127,-104.987107

In [13]:
# Merge dataframes
merged_df = pd.merge(combined_sba, restaurant_df, on="BorrowerName")
merged_df.head()

,LoanNumber,DateApproved,BorrowerName,BorrowerAddress,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,...,Unnamed: 0,id,phone,address,category_alias,category_title,rating,review_count,lat,lon
0,7672377005,4/8/2020,SEATTLE FISH COMPANY,6211 E. 42nd Ave.,80216-4601,6/25/2021,Paid in Full,24,2205500.0,2205500.0,...,20930,-1UE1ea2LgbfrYnFmlxeYQ,1.303330e+10,"6211 E 42nd Ave Denver, CO 80216","seafood, grocery, seafoodmarkets,","Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.91568
1,7672377005,4/8/2020,SEATTLE FISH COMPANY,6211 E. 42nd Ave.,80216-4601,6/25/2021,Paid in Full,24,2205500.0,2205500.0,...,23079,-1UE1ea2LgbfrYnFmlxeYQ,1.303330e+10,"6211 E 42nd Ave Denver, CO 80216","seafood, grocery, seafoodmarkets,","Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.91568
2,2923648405,2/4/2021,SEATTLE FISH COMPANY,6211 E 42nd Ave,80216-4601,12/24/2021,Paid in Full,60,2000000.0,2000000.0,...,20930,-1UE1ea2LgbfrYnFmlxeYQ,1.303330e+10,"6211 E 42nd Ave Denver, CO 80216","seafood, grocery, seafoodmarkets,","Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.91568
3,2923648405,2/4/2021,SEATTLE FISH COMPANY,6211 E 42nd Ave,80216-4601,12/24/2021,Paid in Full,60,2000000.0,2000000.0,...,23079,-1UE1ea2LgbfrYnFmlxeYQ,1.303330e+10,"6211 E 42nd Ave Denver, CO 80216","seafood, grocery, seafoodmarkets,","Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.91568
4,4128758305,1/22/2021,DENVER MILK MARKET,1800 Wazee St Ste 100,80202-2535,NaN,Exemption 4,60,1421350.0,1421350.0,...,128,Zw2MDRY6tBK6LGvkx26Uzg,1.303793e+10,"1800 Wazee St Ste 100 Denver, CO 80202","publicmarkets, food_court,","Public Markets, Food Court,",3.5,462,39.753113,-104.99728

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3612 entries, 0 to 3611
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   LoanNumber              3612 non-null   int64
 1   DateApproved            3612 non-null   object
 2   BorrowerName            3612 non-null   object
 3   BorrowerAddress         3612 non-null   object
 4   BorrowerZip             3612 non-null   object
 5   LoanStatusDate          3152 non-null   object
 6   LoanStatus              3612 non-null   object
 7   Term                    3612 non-null   int64
 8   InitialApprovalAmount   3612 non-null   float64
 9   CurrentApprovalAmount   3612 non-null   float64
 10  UndisbursedAmount       3612 non-null   float64
 11  RuralUrbanIndicator     3612 non-null   object
 12  BusinessAgeDescription  3612 non-null   object
 13  CD                      3612 non-null   object
 14  JobsReported            3612 non-null   float64
 15  Race                    3612 non-null   object
 16  Ethnicity               3612 non-null   object
 17  BusinessType            3612 non-null   object
 18  Gender                  3612 non-null   object
 19  Veteran                 3612 non-null   object
 20  ForgivenessAmount       3314 non-null   float64
 21  ForgivenessDate         3314 non-null   object
 22  Unnamed: 0              3612 non-null   int64
 23  id                      3612 non-null   object
 24  phone                   3526 non-null   float64
 25  address                 3612 non-null   object
 26  category_alias          3612 non-null   object
 27  category_title          3612 non-null   object
 28  rating                  3612 non-null   float64
 29  review_count            3612 non-null   int64
 30  lat                     3612 non-null   float64
 31  lon                     3612 non-null   float64
dtypes: float64(9), int64(4), object(19)
memory usage: 931.2+ KB

In [15]:
merged_df.nunique()

LoanNumber                 281
DateApproved               101
BorrowerName               187
BorrowerAddress            266
BorrowerZip                180
LoanStatusDate             116
LoanStatus                   2
Term                         3
InitialApprovalAmount      272
CurrentApprovalAmount      273
UndisbursedAmount            1
RuralUrbanIndicator          1
BusinessAgeDescription       3
CD                           3
JobsReported                54
Race                         4
Ethnicity                    3
BusinessType                 5
Gender                       3
Veteran                      3
ForgivenessAmount          252
ForgivenessDate            154
Unnamed: 0                2355
id                         212
phone                      205
address                    214
category_alias             151
category_title             151
rating                       7
review_count               170
lat                        214
lon                        214
dtype: int64

In [16]:
# Remove unnecessary columns; drop duplicate loan numbers; remove +4 from zip code column
loans_df = merged_df.drop(columns=['Unnamed: 0', 
                                   'id', 
                                   'phone', 
                                   'address', 
                                   'category_alias', 
                                   'UndisbursedAmount', 
                                   'RuralUrbanIndicator'])
loans_df = loans_df.drop_duplicates(subset=['LoanNumber']).reset_index(drop=True)
loans_df['BorrowerZip'] = loans_df['BorrowerZip'].str[:5]
loans_df

,LoanNumber,DateApproved,BorrowerName,BorrowerAddress,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,...,BusinessType,Gender,Veteran,ForgivenessAmount,ForgivenessDate,category_title,rating,review_count,lat,lon
0,7672377005,4/8/2020,SEATTLE FISH COMPANY,6211 E. 42nd Ave.,80216,6/25/2021,Paid in Full,24,2205500.00,2205500.00,...,Corporation,Unanswered,Unanswered,2231230.83,6/11/2021,"Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.915680
1,2923648405,2/4/2021,SEATTLE FISH COMPANY,6211 E 42nd Ave,80216,12/24/2021,Paid in Full,60,2000000.00,2000000.00,...,Corporation,Unanswered,Unanswered,2013777.78,10/25/2021,"Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.915680
2,4128758305,1/22/2021,DENVER MILK MARKET,1800 Wazee St Ste 100,80202,NaN,Exemption 4,60,1421350.00,1421350.00,...,Limited Liability Company(LLC),Unanswered,Unanswered,NaN,NaN,"Public Markets, Food Court,",3.5,462,39.753113,-104.997280
3,5499647108,4/13/2020,DENVER MILK MARKET,1800 Wazee Street,80202,4/22/2021,Paid in Full,60,1130200.00,1130200.00,...,Limited Liability Company(LLC),Unanswered,Unanswered,1139582.21,2/22/2021,"Public Markets, Food Court,",3.5,462,39.753113,-104.997280
4,6459598309,1/27/2021,TAVERNETTA,1889 16th St,80202,NaN,Exemption 4,60,1006600.00,1006600.00,...,Limited Liability Company(LLC),Male Owned,Non-Veteran,NaN,NaN,"Italian,",4.5,463,39.753173,-105.002327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,4950547702,5/1/2020,TAMALES MORENO,5301 W MISSISSIPPI AVE,80226,6/10/2021,Paid in Full,24,5557.00,5557.00,...,Corporation,Female Owned,Non-Veteran,5610.44,5/6/2021,"Mexican,",3.5,37,39.696915,-105.055476
277,6821007805,6/2/2020,GOLD STAR HOTLINK COMPANY,2878 Colorado Blvd,80207,3/20/2021,Paid in Full,24,5417.00,5417.00,...,Limited Liability Company(LLC),Unanswered,Unanswered,3432.45,11/23/2020,"Meat Shops, Hot Dogs,",5.0,5,39.757890,-104.940320
278,8397477402,5/18/2020,CLASSIC CAFE,1999 Broadway #200,80204,3/20/2021,Paid in Full,24,4238.85,4238.85,...,Sole Proprietorship,Male Owned,Non-Veteran,4273.35,3/9/2021,"Cafes,",5.0,1,39.748009,-104.987663
279,8417127803,6/5/2020,WONGWAYVEG,234 Lincoln St 7,80203,3/12/2021,Paid in Full,24,4097.60,4097.60,...,Limited Liability Company(LLC),Unanswered,Unanswered,4127.80,3/2/2021,"Food Trucks, Vegan,",5.0,80,39.754103,-105.000224
280,6760838504,3/4/2021,DARYA RESTAURANT,10890 E Dartmouth Ave Ste 4,80014,2/19/2022,Paid in Full,60,2833.00,2833.00,...,Corporation,Male Owned,Non-Veteran,2854.89,1/21/2022,"Persian/Iranian, Halal,",4.0,85,39.659703,-104.860580

In [17]:
# Change 'Unanswered' and 'Unknown/NotStated' to null values.
loans_df = loans_df.replace(['Unanswered', 'Unknown/NotStated'],np.NaN)
loans_df

,LoanNumber,DateApproved,BorrowerName,BorrowerAddress,BorrowerZip,LoanStatusDate,LoanStatus,Term,InitialApprovalAmount,CurrentApprovalAmount,...,BusinessType,Gender,Veteran,ForgivenessAmount,ForgivenessDate,category_title,rating,review_count,lat,lon
0,7672377005,4/8/2020,SEATTLE FISH COMPANY,6211 E. 42nd Ave.,80216,6/25/2021,Paid in Full,24,2205500.00,2205500.00,...,Corporation,NaN,NaN,2231230.83,6/11/2021,"Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.915680
1,2923648405,2/4/2021,SEATTLE FISH COMPANY,6211 E 42nd Ave,80216,12/24/2021,Paid in Full,60,2000000.00,2000000.00,...,Corporation,NaN,NaN,2013777.78,10/25/2021,"Seafood, Grocery, Seafood Markets,",3.0,2,39.774870,-104.915680
2,4128758305,1/22/2021,DENVER MILK MARKET,1800 Wazee St Ste 100,80202,NaN,Exemption 4,60,1421350.00,1421350.00,...,Limited Liability Company(LLC),NaN,NaN,NaN,NaN,"Public Markets, Food Court,",3.5,462,39.753113,-104.997280
3,5499647108,4/13/2020,DENVER MILK MARKET,1800 Wazee Street,80202,4/22/2021,Paid in Full,60,1130200.00,1130200.00,...,Limited Liability Company(LLC),NaN,NaN,1139582.21,2/22/2021,"Public Markets, Food Court,",3.5,462,39.753113,-104.997280
4,6459598309,1/27/2021,TAVERNETTA,1889 16th St,80202,NaN,Exemption 4,60,1006600.00,1006600.00,...,Limited Liability Company(LLC),Male Owned,Non-Veteran,NaN,NaN,"Italian,",4.5,463,39.753173,-105.002327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,4950547702,5/1/2020,TAMALES MORENO,5301 W MISSISSIPPI AVE,80226,6/10/2021,Paid in Full,24,5557.00,5557.00,...,Corporation,Female Owned,Non-Veteran,5610.44,5/6/2021,"Mexican,",3.5,37,39.696915,-105.055476
277,6821007805,6/2/2020,GOLD STAR HOTLINK COMPANY,2878 Colorado Blvd,80207,3/20/2021,Paid in Full,24,5417.00,5417.00,...,Limited Liability Company(LLC),NaN,NaN,3432.45,11/23/2020,"Meat Shops, Hot Dogs,",5.0,5,39.757890,-104.940320
278,8397477402,5/18/2020,CLASSIC CAFE,1999 Broadway #200,80204,3/20/2021,Paid in Full,24,4238.85,4238.85,...,Sole Proprietorship,Male Owned,Non-Veteran,4273.35,3/9/2021,"Cafes,",5.0,1,39.748009,-104.987663
279,8417127803,6/5/2020,WONGWAYVEG,234 Lincoln St 7,80203,3/12/2021,Paid in Full,24,4097.60,4097.60,...,Limited Liability Company(LLC),NaN,NaN,4127.80,3/2/2021,"Food Trucks, Vegan,",5.0,80,39.754103,-105.000224
280,6760838504,3/4/2021,DARYA RESTAURANT,10890 E Dartmouth Ave Ste 4,80014,2/19/2022,Paid in Full,60,2833.00,2833.00,...,Corporation,Male Owned,Non-Veteran,2854.89,1/21/2022,"Persian/Iranian, Halal,",4.0,85,39.659703,-104.860580

In [18]:
# Load to csv.
loans_df.to_csv('loans_df.csv')